*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  position: relative;

  /*Formatting*/
  padding-top: 20px;
  font-size: 16px;
  width: 100%;
  height: 100%;

  /*Font*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /*Select clear*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
